.App {
  text-align: center;
  background-color: #d9997342;
  height: 70%;
}

.App-body{
  height: 90%;
}
.container{
  height: 400px;
}
@media screen and (max-width: 980px){
  .container{
      width: 90%;
  }
  #contenido{
      width: 60%;
  }
  #barra_lateral{
      width:30%;
  }
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
  color:antiquewhite;
}

.container-products{
  height: 300px;
  width: 250px;
  border: 2px solid white;
  padding-top: 10px;
  margin-right:10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
    
  }
}

.App-header {
  background-color: #dc8a6559;
  height: 100px;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #7e3c1f;
  font-size: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(15deg);
  }
}

@import url('https://fonts.googleapis.com/css?family=Oswald:500');
.back{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background:url(https://pp.userapi.com/c841122/v841122831/327e/nHt-92F6yc4.jpg) no-repeat top center #efeff1;
  background-size:cover;
}
.thx{
  position: fixed;
  left:50%;
  transform:translateX(-50%);
  bottom: 15px;
}
nav{
  width: 78%;
  position: absolute;
  top:50px;
  text-align:center;
}
nav a{
  font-family: 'Oswald', sans-serif;
  font-weight:500;
  text-transform:uppercase;
  text-decoration:none;
  color:white;
  margin:0 15px;
  font-size:16px;
  letter-spacing:1px;
  position:relative;
  display:inline-block;
  

}
nav a:before{
  content:'';
  position: absolute;
  width: 100%;
  height: 3px;
  background:#DC8A65;
  top:47%;
  animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
nav a:hover:before{
  animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;

}
@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
  100%{
    left:0;
    right:auto;
    width: 100%;
  }
}
@keyframes out{
  0%{
    width:100%;
    left: auto;
    right: 0;
  }
  100%{
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show{
  0%{
    opacity:0;
    transform:translateY(-10px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}



.title-products{
  font-family: 'Oswald', sans-serif;
  font-weight:500;
  text-transform:uppercase;
  text-decoration:none;
  color:white;
  margin:0 15px;
  font-size:25px;
  letter-spacing:1px;
  position:relative;
  display:inline-block;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}


.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-top: 1.25rem;
}


.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #d99973b8;
  height: 70px;
  /* border-top: 1px solid #d99973b8; */
}



.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e7b09700;
  border-radius: 0.25rem;
}


.w-50 {
  width: 65% !important;
}


.w-60 {
  width: 60% !important;

}


.w-602 {
  width: 60% !important;
  height: 80%;
}

.mt-5,
.my-5 {
    margin-top: 3rem !important;
    margin-left: 15rem !important;
}

.btn-outline-primary {
  border-color: #d99973b8 !important;
  color: #d99973b8 !important;
}
.btn {
  border: 0;
  font-size: .75rem;
  width: 45%;
  height: 45%;

  padding: 0 1.5rem;
  padding-bottom: -15px;
  color: #fff;
  background: white;
  text-transform: uppercase;
  border-radius: .25rem;
  letter-spacing: .2em;
  transition: background .2s;
}

.btn2 {
  border: 0;
  font-size: .75rem;
  width: 33%;
  height: 70%;

  padding: 0 1.5rem;
  padding-bottom: -15px;
  color: #fff;
  background: white;
  text-transform: uppercase;
  border-radius: .25rem;
  letter-spacing: .2em;
  transition: background .2s;
}

.btn3 {
  border: 0;
  font-size: .75rem;
  width:84%;
  height:171%;

  padding: 0 1.5rem;
  padding-bottom: -15px;
  color: white;
  background: #dc8a65;
  text-transform: uppercase;
  border-radius: .25rem;
  letter-spacing: .2em;
  transition: background .2s;
  
}

.container-app{
  width: 80%;
  float:'right';
  height: 600px;
  
}

.btn-outline-secondary {
  border-color: #c2784f !important;
  color: #c2784f !important;
}
.btnSeconday {
  border: 1px solid #c2784f;
  font-size: .75rem;
  width: 32%;
  height: 2.5rem;
  padding-left: 20px;
  line-height: 2.5rem;
  padding: 0 1.5rem;
  color: #c2784f;
  background: white;
  text-transform: uppercase;
  border-radius: .25rem;
  letter-spacing: .2em;
  transition: background .2s;
}

.col-md-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.columna {
  width:50%;
  float:left;
}

@media (max-width: 500px) {
  
  .columna {
    width:auto;
    float:none;
  }
  
}

.swal-button{
  background-color: #c2784f !important;
}

.swal-text{
 text-align: center;
}

.swal-footer{
  text-align: center;
}